@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {

    --primary-color: #EF4444;
}

body {

    font-family: 'Open Sans', sans-serif;
}

hr {

    margin: 1rem 0rem;
}

/* Container */

.container {

    padding: 0rem 1rem;
}

.container-center {

    max-width: 600px;
    margin: auto;
}

/*links*/
.link {

    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link {

    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {

    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.sans-bullet {

    list-style: none;
}

.list-item-inline {

    display: inline;
    padding: 0rem 0.5rem;
}